html {
  background:white url(https://s-media-cache-ak0.pinimg.com/originals/f8/00/35/f8003526a9c49aac024976de98b3ecfe.gif);
  background-size:stretch;
  background-repeat: repeat;
  background-position: center;
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}

.clock ,.zoneClock{
  width: 30rem;
  height: 30rem;
  border:20px solid white;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
display: none;
}

.clockShow ,.zoneClockShow{
  width: 30rem;
  height: 30rem;
  border:20px solid white;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
    
 
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width:50%;
  height:6px;
  background:black;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition:all 0.05;
  transition-timing-function: cubic-bezier(0.1,2.7,0.58, 1)
}
.dropbtn {
  background-color: rgba(128, 0, 128, 0.267);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 550px;
  margin-left: 60px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(138, 6, 138);
}

.dropdown {
  position: relative;
  display: inline-block;
 margin-bottom: 40px auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 600px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -80px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display:inline;
 
}

.dropdown a:hover {background-color: #f1f1f1;}

.show {
  display:inline !important;

}
